node_modules/
vendor/
.DS_Store
*.log

/db

/wp/src/*

/wp/src/wp-content/languages
/wp/src/wp-content/plugins/*
/wp/src/wp-content/themes
/wp/src/wp-content/updraft
/wp/src/wp-content/upgrade
/wp/src/wp-content/uploads
/wp/src/wp-content/wflogs
/wp/src/wp-content/index.php
/wp/src/wp-content/mu-plugins
/wp/src/wp-content/uploads

!/wp/src/wp-content/
!/wp/src/wp-content/plugins/wp-elementor-react
